.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
   
  }
  
  .navbar .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .nav-links li a:hover {
    background-color: #555;
    border-radius: 5px;
  }


  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    text-align: left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-submenu .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    white-space: nowrap;
    justify-content: left;
    background-color: #444;
  }
  
  .dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    padding: 12px 16px;
    color: white;
    text-align: left;
  }
  
  .dropdown-menu a:hover {
    background-color: #555;
  }